@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  
  nav {
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 1;
  }
  nav .logo {
    display: flex;
    align-items: center;
    color: black;
  }
  nav .logo img {
    height: 25px;
    width: auto;
    margin-right: 10px;
  }
  nav .logo h1 {
    font-size: 2.5rem;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:black;
    color: black;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    font-size: 1.3rem;
    padding-top: 1%;
  }
  nav ul li {
    margin-left: 1.5rem;
  }
  nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 23px;
    font-weight: 400;
    padding: 8px 16px;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: rgb(22, 52, 61);
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .hamburger .line {
    width: 25px;
    height: 1px;
    background-color: black;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
  }
  .hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
  }
  
  .hamburger-active .line:nth-child(2) {
    width: 0px;
  }
  
  .hamburger-active .line:nth-child(1),
  .hamburger-active .line:nth-child(3) {
    transition-delay: 0.3s;
  }
  
  .hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
  }
  
  .hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
  }
  
  .menubar {
    position: absolute;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
    padding: 20% 0;
    background: white;
    transition: all 0.5s ease-in;
    z-index: 2;
  }
  .active {
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .menubar ul {
    padding: 0;
    list-style: none;
  }
  .menubar ul li {
    margin-bottom: 32px;
  }
  
  .menubar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 30px;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .menubar ul li a:hover {
    background-color: #f5f5f5;
  }
  @media screen and (max-width: 1650px) {
    .hamburger {
      display: block;
    }
    nav ul {
      display: none;
    }
  }


.flip-card {
  -webkit-perspective: 1000;
          perspective: 1000;
  border: 0;
  background: transparent;
  cursor: pointer; /* Add cursor pointer to indicate it's clickable */
}


.flip-card.click .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card,
.flip-card-inner-front,
.flip-card-inner-back {
  width: 100%;
  height: 20rem;
}

.flip-card-inner {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.flip-card-inner-front,
.flip-card-inner-back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.flip-card-inner-front {
  z-index: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flip-card-inner-front span {
  width: 290px;
  text-align: center;
  background: rgba(254, 254, 254, 0.8);
  padding: 0.25rem 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.flip-card-inner-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
          text-wrap:wrap;
          
  text-align: center;
  background: #cacaca;
  padding: 1rem;
}

.flip-card-inner-back-title {
  font-weight: bold;
}

.flip-card-inner-back-text {
  line-height: 1.3;
}


.marketing-site-footer {
  background: #2c3840;
  color: #8aa0ae;
  padding: 2rem 0 0;
}

.marketing-site-footer .marketing-site-footer-menu-social a {
  color: #fefefe;
font-size: 60px;
}


@media screen and (max-width: 100%) {
  .marketing-site-footer .columns {
    margin-bottom: 2rem;
  }
}

.marketing-site-footer-name {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.marketing-site-footer-title {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.marketing-site-footer-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.marketing-site-footer-block .fa {
  font-size: 2rem;
  color: #020304;
}

.marketing-site-footer-block p {
  margin-left: 1rem;
  line-height: 1.125rem;
}

.marketing-site-footer-bottom {
  background: #020304;
  padding: 1rem 0;
}

.marketing-site-footer-bottom p,
.marketing-site-footer-bottom .menu {
  margin-bottom: 0;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
  color: #8aa0ae;
}

@media screen and (max-width: 100%) {
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 100%) {
  .marketing-site-footer-bottom {
    text-align: center;
  }
}
@import url(https://fonts.googleapis.com/css?family=Roboto:700);



.wrapper {
    position: absolute;
    z-index: 1;
    height: 500px;
    width: 290px;
    top: 50%;
    left: 50%;
    margin-top: -330px;
    margin-left: -145px;
}

.wrapper h1 {
    margin: 0 0 25px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60px;
    color: #344D44;
    text-align: center;
}

/* Washing machine */
.washingmachine {
    position: absolute;
    height: 340px;
    width: 290px;
    border-top: 14px solid #97BDAF;
    border-radius: 4px;
    background-color: #E4F2ED;
}

/* Shadow */
.washingmachine:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 20px;
    left: 50%;
    margin-left: -145px;
    width: 290px;
    height: 20px;
    box-shadow: 0 20px 40px 30px rgba(0, 0, 0, 0.15);
}

/* Lint filter */
.washingmachine:after {
    position: absolute;
    content: "";
    bottom: 15px;
    left: 15px;
    width: 70px;
    height: 35px;
    border-radius: 2px;
    border: 1px solid #B1CBC2;
}

/* Door */
.washingmachine .door {
    position: absolute;
    top: 110px;
    left: 55%;
    margin-left: -97px;
    width: 150px;
    height: 150px;
    border: 22px solid #97BDAF;
    border-radius: 97px;
    background-image: linear-gradient(to bottom, rgba(73, 96, 88, 0.85) 0%, rgba(87, 115, 105, 0.85) 100%);
    transform: translateZ(0);
    animation: close 0.5s ease-in 0s 1 forwards;
}

/* Open door on hover */
.washingmachine:hover .door {
    transform: translateZ(0);
    animation: open 0.5s ease-in 0s 1 forwards;
}

/* Animate to open */
@keyframes open {
    from {
        transform: perspective(1000px) rotateY(0deg);
        transform-origin: 0% 0%;
    }
    to {
        transform: perspective(1000px) rotateY(-105deg);
        transform-origin: 0% 0%;
    }
}

/* Animate to closed */
@keyframes close {
    from {
        transform: perspective(1000px) rotateY(-105deg);
        transform-origin: 0% 0%;
    }
    to {
        transform: perspective(1000px) rotateY(0deg);
        transform-origin: 0% 0%;
    }
}

/* Drum */
.washingmachine .drum {
    position: absolute;
    top: 113px;
    left: 50%;
    margin-left: -74px;
    width: 140px;
    height: 140px;
    border: 4px solid #97BDAF;
    border-radius: 97px;
    background-color: #3A4E47;
}

/* Inner text */
.washingmachine .drum:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "Click";
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    line-height: 130px;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

/* Fade in text on hover */
.washingmachine:hover .drum:before {
    opacity: 1;
}

/* Hinge */
.washingmachine .drum:after {
    position: absolute;
    content: "";
    top: 63px;
    left: -27px;
    width:10px;
    height: 16px;
    background-color: #6D8C81;
    border-radius: 2px;
}

/* Handle */
.washingmachine .door:before {
    position: absolute;
    content: "";
    top: 60px;
    right: -14px;
    width: 18px;
    height: 28px;
    background-color: #6D8C81;
    border-radius: 2px;
}

/* Tray */
.washingmachine .tray {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 90px;
    height: 25px;
    border-top: 10px solid #C0D9D0;
    background-color: #97BDAF;
    border-radius: 2px;
}

/* Dial */
.washingmachine .dial {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-color: #97BDAF;
    border: 5px solid #C0D9D0;
    border-radius: 15px;
}

/* Buttons */
.washingmachine .buttons,
.washingmachine .buttons:before,
.washingmachine .buttons:after {
    position: absolute;
    top: 22px;
    right: 60px;
    width: 10px;
    height: 15px;
    background-color: #97BDAF;
    border-radius: 2px;
}

.washingmachine .buttons:before,
.washingmachine .buttons:after {
    content: "";
    top: 0;
}

.washingmachine .buttons:before { right: 15px; }
.washingmachine .buttons:after { right: 30px; }

/* Pilot light */
.washingmachine .pilot {
    position: absolute;
    top: 28px;
    right: 110px;
    width: 4px;
    height: 4px;
    background-color: #9E0004;
    border-radius: 2px;
}

.washingmachine:hover .pilot {
    background-color: #DB0006;
    box-shadow: 0 0 5px 1px rgba(211, 5, 11, 0.4);
}

.container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent items from wrapping */
  height: 340px;
  scrollbar-width: 0px;
overflow: hidden;
user-select: none;
}


.item {
  flex: 0 0 auto; /* Allow items to shrink and grow, but don't shrink initially */
  margin-right: 10px; /* Adjust margin between items */
  min-width: 300px; /* Set a minimum width for each item */
user-select: none;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}