
.home {
    height: 70%;
    padding-top: 25vh;
    overflow: hidden;
    text-align: center;
    margin: auto;
    background: 
    linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url('../Assets/a3e8e7_1c9e6b3ee9f145ce939b809a08acb435.webp') center top;
    
    background-size: cover;
  
    &__name {
      font-size: 5rem;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 2px solid set-text-color($primary-color);
  
      &--last {
        color: $secondary-color;
        font-weight: 700;
      }
    }
  }

  .open__hours{
    background-color: $dar-gray;
    width: 100%;
    height: 3.5%;
    text-align: center;
    margin-bottom: 2em;
    .open__title{
      color: white;
      font-weight: bold;
      padding: auto;
      span{
          color: $secondary-color;
      }
  
    }
  }


  .popular__title{
    text-align: center;
    margin-bottom: 2%;
    font-size: 5vh;
    font-weight: bold;
  }

.about-us{
  width: 60%;
  margin: auto;
  margin-bottom: 5%;
  


  &__title{
    text-align: center;
    font-weight: 700;
    font-size: 5vh;
  }

  &__text{
    font-size: 2.5vh;
    margin-top: 1%;
    text-align: justify;
  }
  @media screen and (max-width: 768px) { /* Adjust max-width as needed for phone screens */
    width: 80%; /* Adjust as needed for 80% width on phone screens */
    &__title{
      text-align: center;
      font-weight: 700;
      font-size: 3vh;
    }
    &__text{
      font-size: 2vh;
      margin-top: 1%;
      text-align: justify;
    }
  }
}


.features {
  .row {
    display: flex;
    justify-content: center;

    .column {
      text-align: center;
      margin: 0 10px;

      .column-title {
        margin-bottom: 2%;
        font-weight: 700;
        font-size: 3.5vh;
      }

      .img {
        position: relative;

        img {
          max-width: 30%;
          height: auto;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
    // Media query for smaller devices
    @media (max-width: 768px) {
      .row {
        flex-direction: column; // Change to one column layout
      }
    }
}

.review {
  .container {
    max-width: 800px;
    margin: 0 auto;
    
    h1 {
      text-align: center;
      font-weight: 700;
      font-size: 5vh;
      margin-top: 2%;
      margin-bottom: 2%;
    }
    .sk-ww-google-reviews {
      // Styling for the Google reviews widget container
      border: 1px solid $secondary-color;
      padding: 20px;
      background-color: #f9f9f9;

      // Styling for the review items
      .review-item {
        border-bottom: 1px solid #eeeeee8d;
        padding: 10px;

        // Styling for the review content
        .review-content {
          font-size: 16px;
          margin-bottom: 10px;
        }

        // Styling for the reviewer information
        .reviewer-info {
          font-style: italic;
          color: #666;
        }
      }
    
    }}}


.location{

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

  }
  
  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 5vh;
    margin-bottom: 2%;
  }
  .map{
    border: 1px solid $secondary-color;
  }
  iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;

  }
}