
@import url('https://fonts.cdnfonts.com/css/swiss-721');
.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  @include transition-ease;
  font-size: 6.5vw;


  &__burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    @include transition-ease;
    background: set-text-color(white);


    &::before {
      content: '';
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      @include transition-ease;
      background: set-text-color(white);
    }

    &::after {
      content: '';
      position: absolute;
      top: 8px;
      width: 20px;
      height: 3px;
      @include transition-ease;
      background: set-text-color(white);
    }

    &.open {
      transform: rotate(720deg);
      background: transparent;
      

      &::before {
        transform: rotate(45deg) translate(5px, 8px);
        background: black;
      }

      &::after {
        width: 28px;
        transform: rotate(-45deg) translate(3px, -7px);
        background: black;
      }
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
  overflow: hidden;

  &.open {
    visibility: visible;
  }

  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    height: 100vh;
    background: white;
    list-style-type: none;
    transform: translateY(-100%);
    @include transition-ease;

    &.open {
      transform: translateY(0);
    }

    &__item {
      transform: translateX(100vw);
      @include transition-ease;

      &.open {
       transform: translateX(0); 
      }

      &.active > a {
        color: $secondary-color;
      }
    }

    &__link {
      display: inline-block;
      font-size: 6vw;
      text-transform: uppercase;
      padding: 2vw 0;
      font-weight: 600;
      @include transition-ease;
      font-family: "Swiss 721 Bold Rounded";

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

@for $i from 1 through 6 {
  .menu-nav__item:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s) + 0.15s;
  }
}
  
